<div class = "container">
	<div class = "row">
		<h2>Play a Friend</h2>
		<form method="post" action="/auth/challenge">
			<p class = "col-3">
				<input type="text" name="user_challenge" placeholder="Enter a Username"/>
			</p>
				<div class="input-group col-md-3">
			
			      <span class="input-group-addon">
			        <input type="radio" name="radio" value ="rock"> The Rock
			      </span>
			   
			      <span class="input-group-addon">
			        <input type="radio" name="radio" value ="paper"> Papar
			      </span>

			      <span class="input-group-addon">
			        <input type="radio" value ="scissors" name="radio"> Slizers
			      </span>
			    </div>
				<input type="submit" value="submit">
			</p>
		</form>	
	</div>
		<div>
			<h2>Play a Rando</h2>
			<form><button type="challenge" class="btn btn-default">GO!</button> </form>
		</div>

	<div>
		<h2>Active strangers to challenge</h2>
		<p> Add table here of atleast 5 players that have played before.</p>
	</div>

</div>

<script>
	$(".typed").on('click', function(e){
			<% if @user_exists %>
				<div class="alert alert-success" role="alert">you have just challenged a user. Pending Acceptance</div>
			<% else	%>
				<div class="alert alert-danger" role="alert">Username does not exist. womp womp</div>
			<% end %>
	});
</script>