<div>
	<div>
		<h2>Play a Friend</h2>
		<form>
			<p>Enter a Username: <input type="text" name="user[username]" /></p>
			<% if @user_exists %>
				<div class="alert alert-success" role="alert">you have just challenged a user. Pending Acceptance</div>
			<% else	%>
				<div class="alert alert-danger" role="alert">Username does not exist. womp womp</div>
			<% end %>
		</form>	
	</div>

	<div>
		<h2>Active strangers to challenge</h2>
		<p> Add table here of atleast 5 players that have played before.</p>
	</div>

</div>