<div class = "container">
	<style type="text/css">
	h2 {
		color: white;
	}

	

	</style>
	<div class = "row">
		<h2>Play a Friend</h2>
		<br>
		<form method="post" action="/auth/challenge">
			<!-- <p class = "col-3"> -->
				<input type="text" name="user_challenge" class="form-control" placeholder="Enter a Username"/>
			<!-- </p> -->
			<br>
				<div class="input-group col-md-12">
			
			      <span class="input-group-addon">
			        <input type="radio" name="radio" value ="rock"> The Rock
			      </span>
			   
			      <span class="input-group-addon">
			        <input type="radio" name="radio" value ="paper"> Papar
			      </span>

			      <span class="input-group-addon">
			        <input type="radio" value ="scissors" name="radio"> Slizers
			      </span>
			    </div>
			    <br>
				<input type="submit" class="btn btn-default col-md-4 col-md-offset-4 center" value="submit">
			</p>
		</form>	
	</div>
	<div class="row">
	<h2>Play a Rando (Stranger Danger)</h2>
		<br>
		<div>
			<form method="post" action="/auth/randomchallenge">
			
				<div class="input-group col-md-12">
			
			      <span class="input-group-addon">
			        <input type="radio" name="radio" value ="rock"> The Rock
			      </span>
			   
			      <span class="input-group-addon">
			        <input type="radio" name="radio" value ="paper"> Papar
			      </span>

			      <span class="input-group-addon">
			        <input type="radio" value ="scissors" name="radio"> Slizers
			      </span>
			    </div>
			    <br>
				<input type="submit" class="btn btn-default col-md-4 col-md-offset-4 center" value="submit">
			</p>
		</form>	
		</div>
	</div>

	

</div>

<script>
	$(".typed").on('click', function(e){
			<% if @user_exists %>
				<div class="alert alert-success" role="alert">you have just challenged a user. Pending Acceptance</div>
			<% else	%>
				<div class="alert alert-danger" role="alert">Username does not exist. womp womp</div>
			<% end %>
	});
</script>