<div class = "chraa" >
<div class ="container">
<div class="jumbotron">
  <h2>Hello, There!</h2>
  <p>Welcome to the worlds's first interactive Rock, Paper, Scissors game. For years mankind has sought to play this challenging game with one another. No longer must we be landlocked into playing with IRL friends.</p>
  <p><button class="btn btn-primary btn-lg" data-toggle="modal" data-target="#myModal" >Sign Up</button></p>
  <%= erb :_modal %>
</div>
</div>
