
<div class="container">
<h2>Welcome <%= User.get(params[:id]).username.capitalize %>!</h2> 
 
 
<!-- search sql db to query name by user id. -->
	<div class = "panel panel-default">
	<div class = "panel-heading text-center">Current Active Games</div>	
	<table class ="table">
		<th>Opponent Name</th>
		<th></th>
	</table>
	</div>

	<div class = "panel panel-default">
	<div class = "panel-heading text-center"> Completed Games</div>		
	<table class ="table">
		<h3>Completed Games</h3>
		<th>Opponent Name</th>
		<th></th>
	</table>
	</div>

</div>